* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}


.promo {
    padding: 39px 0 62px 0;
    min-height: 800px;
    background: url(../img/main_bg.png) center center/cover no-repeat;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    margin-top: 8px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-align: center;
}

h1 {
    margin-top: 53px;
}

.title{
    font-weight: 900;
    font-size: 41px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color:#f9df3b
}

.simple .title_big {
    margin-top: 20px;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

h1.title {
    margin-top: 53px;
}

h2.title {
    margin-top: 20px;
}

.promo .promo_text {
    margin-top: 23px;
    font-weight: 300;
    font-size: 21px;
    line-height: 133%;
    text-align: center;
    color: #fff;
}

.promo .promo_text span {
    font-weight: 700;
    color: #f9bf3b; 
}

.promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 53px;
    width: 300px;
    height: 80px;
    text-shadow: 2px -1px 0 0 rgba(0, 0, 0, 0.22);
    background:linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
    border: none;
    border-radius: 10px;
    padding: 15px 6 10px 6;

    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-transform:uppercase;
    text-align: center;
    color: #fff;
    text-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.22);
    outline:none ;
}

.more {
    margin-top: 70px;
}

.more .more_text {
    font-weight: 100;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 607px;
    background:#EFEFEF;
    padding: 82px 0 76px 0;
}

.waiting .waiting_header, .finish .finish_header{
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #252525;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 220px;
    height: 7px;
    background:#f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.finish .finish_header {
    color:white;

}

.waiting .waiting_subheader {
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    color: #4a4a4a;
    margin-top: 17px;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 342px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_descr {
    margin-top: 33px;
    font-weight: 300;
    font-size: 15px;
    line-height: 140%;
    text-align: center;
    color: #4a4a4a;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization_header {
    font-weight: 900;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    color: #299cbd;
}

.optimization .optimization_header {
    margin-left: 391px;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    color:#299cbd
}

.optimization .optimization_text {
    margin-left: 391px;
    margin-top: 25px;
    font-weight: 300;
    font-size: 17px;
    line-height: 159%;
    color: #4a4a4a;
}
 
.optimization .optimization_text span {
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -254px;
    z-index:  -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url("../img/second_bg.png") center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 220px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 118px;
    background: #b4e2ff;
    border-radius: 100px;
    margin: 0 auto;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    font-weight: 300;
    font-size: 17px;
    line-height: 118%;
    text-align: center;
    color: #efefef;
}

.gift {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background:#EFEFEF;
}

.gift_item {
    margin-top: 25px;
    width: 1100px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #252525;
}

.gift_promo {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.gift .gift_btn {
    display: block;
    margin: 0 auto;
    margin-top: 53px;
    width: 300px;
    height: 80px;
    text-shadow: 2px -1px 0 0 rgba(0, 0, 0, 0.22);
    background:linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
    border: none;
    border-radius: 10px;
    padding: 15px 6 10px 6;

    font-weight: 400;
    font-size: 21px;
    line-height: 114%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.first {
    min-height: 447px;
    padding: 86px 0 79px 0;
}

.first_descr {
    margin-top: 30px;
    width: 1100px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #252525;
}

.first_promo {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.first_item {
    margin-top: 19px;
    font-weight: 900;
    font-size: 36px; 
    text-transform: uppercase;
    text-align: center;
    color: #299cbd;
}

.first_round {
    margin-top: 30px;
    width: 1100px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #252525;
}



.finished{
    padding: 39px 0 62px 0;
    min-height: 25px;
    background: url(../img/Фон.png) center center/cover no-repeat;
}

.finished_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 376px;
}


.finished_text {
    font-weight: 900;
    font-size: 15px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #888;
    margin-top: 0 auto;
}

.finished_line {
    font-weight: 900;
    font-size: 15px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #888;
    margin-top: 0 auto;
}

.finished_family {
    font-weight: 900;
    font-size: 15px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #888;
    margin-top: 0 auto;
}

.finihed_item {
    padding: 0 450px 0 450;
    font-weight: 900;
    font-size: 15px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #888;
    margin-top: 25px;
}